<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Edit Student</h1>
<p>
    <a href="/students">Customer list</a>
</p>
<th:block th:if="${messenger}">
    <p th:text="${messenger}"></p>
</th:block>
<form th:action="@{/edit-student}" th:object="${student}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>First name:</td>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td><input type="text" th:field="*{lastName}"/></td>
        </tr>
        <tr>
            <td>Grade:</td>
            <td><input type="text" th:field="*{grade}"/></td>
        </tr>
        <tr>
            <td>School</td>
            <td>
                <input type="text" th:field="*school.name">
            </td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Update student"></td>
        </tr>
    </table>
</form>
<fieldset>

</fieldset>
</body>
</html>